<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <title>Ripetizioni Torino</title>
    <link rel="icon" href="img/logo_small_icon_only.png"  type="icon"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</head>
<body>
<!--Login Page-->
<div id="login" v-show = "this.show">
    <div class="card">
        <article class="card-body ">
            <h4 class="card-title text-center mb-4 mt-1">Prenotazioni Torino</h4>
            <hr>
            <p class="text-success text-center">Accedi</p>

            <div class="container-fluid align-items-center" style="width: 50%">
                <form name="myform">
                    <!-- EMAIL -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-user">
                                <img src="img/email.webp" height="24" width="24" alt="email icon"/>
                                </i>
                            </span>
                            </div>
                            <input v-model="email" class="form-control" placeholder="Email" type="email">
                        </div>
                    </div>
                    <!-- PASSWORD -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-lock">
                                    <img src="img/password.webp" height="24" width="24" alt="password icon"/>
                                </i>
                            </span>
                            </div>
                            <input class="form-control" v-model="password" placeholder="******" type="password">
                        </div>
                    </div>
                    <!-- LOGIN BUTTON -->


                    <div class="form-row text-center mt-1">
                        <div class="col-12">
                            <input type="submit" v-on:click="this.login" value="Accedi" class="btn btn-primary btn-block "/>
                        </div>
                    </div>

                    <!-- REGISTRATI -->
                    <p class="text-center"><a v-on:click="this.passtosignup" class="btn">Registrati</a></p>
                </form>
            </div>
        </article>
    </div>
</div>

<!--Signup Page-->
<div id="sign-up" v-show = "this.show">
    <div class="card">
        <article class="card-body">
            <h4 class="card-title text-center mb-4 mt-1">Prenotazioni Torino</h4>
            <hr>
            <p class="text-success text-center">Registrati</p>

            <div class="container-fluid align-items-center" style="width: 50%;">
                <form>
                    <!-- NOME SIGNUP -->
                    <div class="form-group">
                        <div class="input-group">
                            <input v-model="nome" class="form-control" placeholder="Nome" type="text">
                        </div>
                    </div>
                    <!-- COGNOME SIGNUP -->
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" v-model="cognome" placeholder="Cognome" type="text">
                        </div>
                    </div>
                    <!-- EMAIL SIGNUP -->
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" v-model="email" placeholder="Email" type="email">
                        </div>
                    </div>
                    <!-- PASSWORD SIGNUP -->
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" v-model="password" placeholder="******" type="password">
                        </div>
                    </div>
                    <!-- SIGNUP BUTTON -->

                    <div class="form-row text-center mt-1">
                        <div class="col-12">
                            <button type="submit" v-on:click="this.signup" class="btn btn-primary btn-block">Registrati</button>
                        </div>
                    </div>


                    <!-- RITORNO LOGIN -->
                    <p class="text-center"><a v-on:click="this.passToLogin" class="btn">Ritorna al login.</a></p>
                </form>
            </div>
        </article>
    </div>
</div>

<!-- TODO: Estrarre i vari dati necessari -->
<!-- Administrator Page -->
<div id="homepage-administrator" v-show="this.show">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- HOMEPAGE -->
                    <!-- TODO: mettere funzione di ritorno home una volta strutturata tutta la pagina intera -->
                    <li class="nav-item">
                        <a class="nav-link active btn" aria-current="page" v-on:click="this.passHome" >Home</a>
                    </li>

                    <!-- SEZIONE AMMINISTRAZIONE -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Amministrazione
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item btn" v-on:click="this.passRipetizioni">Visualizza prenotazioni</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" v-on:click="this.passCorsi">Corsi</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" v-on:click="this.passDocenti">Docenti</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" v-on:click="this.passRipet">Ripetizioni</a></li>
                        </ul>
                    </li>

                    <!-- SEZIONE PRENOTAZIONI -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Prenotazioni
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Catalogo</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Prenotazione</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Disdetta</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Visualizza</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Hompage admin -->
    <div class="container-fluid" id="homepage-amministrator" style=" width: 80%;margin-top: 5%" v-show="this.home">

        <div class="accordion" id="accordionPanelsStayOpenExample" >
            <div class="accordion-item" >
                <h2 class="accordion-header" id="panelsStayOpen-headingOne" >
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" >
                        Informazioni
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <strong>INFORMAZIONI UTENTE</strong>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" v-on:click="this.mostrastudenti">
                        Studenti
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <!-- TODO: creare funzione per ancora elimina nella tabella per eliminare uno studente -->
                        <table class="table" style="width: 100%">
                            <tr v-for="item in resultJson" style="width: 100%">
                                <td style="width: 10%">    {{item.nome}}</td>
                                <td style="width: 10%">{{item.cognome}}</td>
                                <td style="width: 10%">{{item.ruolo}}</td>
                                <td style="width: 60%"></td>
                                <td style="width: 10%; text-align: right">Elimina</td>
                            </tr>
                        </table>


                    </div>
                </div>
            </div>
        </div>





        <div class="form-row text-center mt-1">
            <div class="col-12">
                <button type="button" class="btn btn-primary " v-on:click="this.logout_admin">Log out</button>
            </div>
        </div>
    </div>

    <!-- Pagina delle prenotazioni -->
    <div id="visualizza-prenotazioni"  v-show="this.prenotazioni">
        <h1>mettere prenotazioni prenotate</h1>
    </div>





    <!-- pagina docenti -->
    <div id="visualizza-docenti" v-show="this.docenti">
        <h1>visualizzare docenti</h1>
    </div>

    <!-- pagina ripetizioni -->
    <div id="visualizza-ripetizioni" v-show="this.ripetizioni">
        <h1>visualizzare ripetizioni</h1>
    </div>

</div>


<!-- pagina corsi -->
<div id="vis-corsi" v-show="administrator.corsi" style="width: 60%; text-align: center;" class="container-fluid">
    <h1>Corsi</h1>
    <div class="card">
        <div class="card-body">
            <table class="table" style="width: 100%">
                <thead>
                <tr>
                    <th> id</th> <th>nome</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in resultJson" style="width: 100%">
                    <td style="width: 5%">{{item.id}}</td>
                    <td style="width: 30%">{{item.nome}}</td>
                    <td style="width: 55%"></td>
                    <td style="width: 10%; text-align: right">Elimina</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--TODO: creare funzione per aggiungere corso e schermata per inserimeto dati del corso-->
    <button type="button" class="btn btn-primary mt-3">Aggiungi corso</button>

</div>


<!-- Student Page -->
<div id="homepage-student" v-show="this.show">
    <h1>Bentornato Studente</h1>
</div>

<!-- Guest Page -->
<div id="homepage-guest" v-show="this.show">
    <h1>Benvenuto Ospite</h1>
</div>
<script>
    //LOGIN VUE

    var login= new Vue({
        el:'#login',
        data:{
            sessione:'sessione inesistente',
            email:'guest',
            password:'',
            link: 'aut-servlet',
            show: true,
            objType: '',
            resultJson:'',

        },
        mounted: function () {
            console.log("MOUNTED")
        },
        methods: {
             login:function(){
                let self=this;
                let controllo = true;
                if((this.email === '' || this.password === '') && this.email !== 'guest'){
                    window.alert("Inserire un'email ed una password");
                    controllo=false;
                }
                //TODO: Il controllo dei dati non funziona sempre bene.
                if(self.sessione === 'sessione inesistente' && controllo) {
                    $.post(this.link, {utente: this.email, password: this.password}, function (data) {
                        controllo = false;
                    });

                    //TODO: Gestire le varie schermate a seconda di che ruolo accede.
                    //TODO: Passare la sessione alla Vue corretta.
                    while (controllo === false){
                        let i = 0;
                        console.log(i++);
                    }
                    console.log("sono uscito dalla trappola infernale");
                    $.get(this.link,{utente: this.email, password: this.password},function(data){
                        let jsonResponse=JSON.parse(JSON.stringify(data));
                        console.log(jsonResponse);
                        let prova=jsonResponse.ruolo;
                        console.log("prelievo mail: "+ prova);
                        self.resultJson = jsonResponse.ruolo;
                        console.log(self.resultJson);
                        self.passtocorrectvue();
                    });
                }
            },

            passtocorrectvue:function(){
                console.log("pass: "+this.resultJson);
                if(this.resultJson==='ospite'){
                    this.show = !this;
                    guest.show = !guest.show;
                }else if(this.resultJson==='admin'){
                    this.show = !this;
                    administrator.show = !administrator.show;
                }else if(this.resultJson==="studente"){
                    this.show = !this;
                    student.show = !student.show;
                }
            },
            passtosignup:function (){
                this.show = !this;
                signup.show = !signup.show;
            }
        }
    })

    //SIGNUP VUE
    var signup = new Vue({
        el:'#sign-up',
        data:{
            nome:'',
            cognome:'',
            email:'',
            password:'',
            link: 'signup-servlet',
            show: false
        },
        methods:{
            signup:function (){
                $.post(this.link,{nome: this.nome, cognome: this.cognome, email: this.email, password:this.password},function(data){

                });
                this.show = !this;
                login.show = !login.show;
            },

            passToLogin:function (){
                this.show = !this;
                login.show = !login.show;
            }
        }

    })

    //ADMINISTRATOR VUE
    var administrator = new Vue({
        el:'#homepage-administrator',
        data:{
            show: false,
            home:true,
            prenotazioni:false,
            corsi:false,
            docenti:false,
            ripetizioni:false,
            sessione: '',
            studenti: '',
            resultJson:'',

        },
        methods:{
            logout_admin:function (){
                //TODO: Invalidare la sessione.
                this.show = !this.show;
                login.show = !login.show;
            },
            passtologin:function (){
                this.show = !this;
                login.show = !login.show;
            },

            mostrastudenti: function (){
                let self=this;
                $.get('student-servlet',{studenti:'vuoto'},function (data){
                    let jsonResponse=JSON.parse(JSON.stringify(data));
                    console.log(jsonResponse);
                    self.resultJson=jsonResponse;
                    self.stampaStudenti();
                });
            },

            stampaStudenti:function (){
                let self=this;
                console.log("risultato:"+self.resultJson.toString());
            },

            passHome:function (){
                this.home=true;
                this.prenotazioni=false;
                this.corsi=false;
                this.docenti=false;
                this.ripetizioni=false;

            },

            passRipetizioni:function (){
                this.home=false;
                this.prenotazioni=true;
                this.corsi=false;
                this.docenti=false;
                this.ripetizioni=false;

            },

            passCorsi:function (){
                this.home=false;
                this.prenotazioni=false;
                this.corsi=true;
                this.docenti=false;
                this.ripetizioni=false;

            },

            passDocenti:function (){
                this.home=false;
                this.prenotazioni=false;
                this.corsi=false;
                this.docenti=true;
                this.ripetizioni=false;

            },

            passRipet:function (){
                this.home=false;
                this.prenotazioni=false;
                this.corsi=false;
                this.docenti=false;
                this.ripetizioni=true;

            },

        }
    })

    //STUDENT VUE
    var student = new Vue({
        el:'#homepage-student',
        data:{
            show: false
        }
    })

    //GUEST VUE
    var guest = new Vue({
        el:'#homepage-guest',
        data:{
            show: false
        }
    })



    var visualizzaCorsi=new Vue({
        el:'#vis-corsi',
        data:{
            resultJson:'funziona',
        },

        methods:{
            getCorso: function (){
                let self=this;
                $.get('corso-servlet',{},function (data){
                    let jsonResponse=JSON.parse(JSON.stringify(data));
                    console.log(jsonResponse);
                    self.resultJson=jsonResponse;
                    console.log(self.resultJson);
                });
            },
        },
        created:function (){
            this.getCorso();
        },
    })
</script>
</body>
</html>
